<!DOCTYPE HTML>
<html>
	<head>
		<title>Lo traigo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><script src="static/home/assets/js/ie/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="static/home/assets/css/main.css" />
		<link rel="shortcut icon" href="static/home/images/icono.png"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="/home/assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">
				<header id="header" class="alt">
					<h1><a href="index.html">Lo Traigo</a> ahorra encargando.</h1>
					<nav id="nav">
						<ul class="actions">
							<li>
								<a href="/register/" class="button special">Regístrate</a>
							</li>
							<li>
								<a href="/login/" class="button special">Inicia sesión</a>
							</li>
						</ul>
					</nav>
				</header>
			<!-- Banner -->
				<section id="banner">
					<h2><img src="static/logo.png" alt="" /></h2>
					<p>Encargos desde Estados Unidos a un precio increíble.</p>
				</section>
			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">
						<header class="major">
							<h2>¿Cómo funciona?<br/></h2>
							<p>Aprende como transportar con nosotros!</p>
						</header>
						<span class="image featured">
							<img src="static/home/images/pic01.jpg" alt="" />
						</span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="image fit">
									<img src="static/home/images/pic04.jpg">
								</span>
								<h3>Buscas y Cotizas</h3>
								<p>Encuentra el producto que deseas traer desde Amazon, Ebay o cualquier tienda en Estados Unidos. Envíanos los links y le preguntaremos a nuestros viajeros registrados el valor del transporte. Recibimos pagos con tarjetas de débito y crédito hasta 48 cuotas. Si no sabes donde o como comprar tu producto en Estados Unidos, podemos ayudarte y comprarlo por ti.
								</p>
							</section>
							<section>
								<span class="image fit">
									<img src="static/home/images/pic02.jpg">
								</span>
								<h3>Recibimos</h3>
								<p>Si aceptas la tarifa de nuestro viajero, te daremos los datos para que envíes tu encargo a su lugar de hospedaje o bien, que pase directamente a la tienda a retirarlo.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="image fit">
									<img src="static/home/images/pic03.jpg">
								</span>
								<h3>Transportamos</h3>
								<p>Nuestro viajero aborda un vuelo comercial con tu pedido en su maleta... Tu encargo ya viene en camino, que emoción!</p>
							</section>
							<section>
								<span class="image fit">
									<img src="static/home/images/pic05.jpg">
								</span>
								<h3>Recibes</h3>
								<p>Lo Traigo coordina la entrega de tu encargo. Una vez que te reúnas con nuestro viajero y recibas tu pedido, liberamos el pago... Todos Felices!
								</p>
							</section>
						</div>
					</section>

					<section class="box special">
						<header class="major">
							<h2>¿Por qué preferir a Lo Traigo?<br /></h2>
							<p>La confianza y un precio justo es la clave para que nuestra comunidad funcione.</p>
						</header>
						<span class="image featured">
							<img src="static/home/images/pic06.jpg" alt="" />
						</span>
						<section class="box special features">
							<div class="features-row">
							<section>
								<h3>Precios Justos.</h3>
								<p>La comunidad de Lo Traigo es como el mundo que nos rodea. Ser justos es lo que nos mantiene unidos, por ello, eres tú quien decide.
								</p>
							</section>
							<section>
								<h3>Garantía de Equipajes.</h3>
								<p>Tu tranquilidad no tiene precio, literalmente hablando. Los equipajes de nuestros viajeros están cubiertos por nuestro seguro complementario de USD$1000, y lo mejor es que a ti no te costará absolutamente nada. Duerme tranquilo, ¡te lo mereces!</p>
							</section>
						</div>
													<div class="features-row">
							<section>
								<h3>Respuesta al cliente.</h3>
								<p>Puedes ponerte en contacto con nuestro increíble equipo de soporte al cliente tanto si estás encargando como si estás transportando. No son máquinas, pero están a tu disposición para ayudarte a la brevedad.
								</p>
							</section>
							<section>
								<h3>Confianza</h3>
								<p>Cada experiencia con Lo Traigo es única. Puesto que creemos en los compromisos, la confiabilidad es fundamental, ya sea en la descripción de un encargo, el precio o las expectativas que creamos.</p>
							</section>
						</div>
						</section>
					</section>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Comienza ahora a ahorrar hasta un 70% con tus encargos.</h2>
					<p>Utiliza esos ahorros para financiar lo que quieras, desde otras compras hasta realizar el viaje de tus sueños.</p>
					<form>
						<div >
							<div>
								<input type="submit" value="Crear cuenta" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Lo Traigo, Inc.</li>
						<li> +56999966387</li>
						<li>lt@lotraigo.cl</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->

			<script src="static/home/assets/js/jquery.min.js"></script>
			<script src="static/home/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/home/assets/js/jquery.scrollgress.min.js"></script>
			<script src="static/home/assets/js/skel.min.js"></script>
			<script src="static/home/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/home/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/home/assets/js/main.js"></script>

	</body>
</html>